:root {
  --default-width: 90vw;
  --min-width: 275px;
  --max-width: 875px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #777;
}
.container {
  width: var(--default-width);
  min-width: var(--min-width);
  max-width: var(--max-width);
}
header {
  position: absolute;
  background-color: #fff;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 0.75em 0;
  width: 100vw;
}
header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  background-color: red;
  color: #fff;
  padding: 0.5rem 0.25rem;
  border-radius: 0.5rem;
}

header nav {
  /* transform: translateY(30%); */
  z-index: 1;
  position: absolute;
  padding: 1em 0;
  min-width: var(--min-width);
  width: var(--default-width);
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: red;
}
header h1 {
  font-size: 1.5em;
  padding-bottom: 0.5em;
  border-bottom: 0.1em solid white;
}
header nav ul {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}
header nav li {
  display: flex;
  color: #fff;
  gap: 0.5em;
  align-items: center;
}
nav li a {
  color: #fff;
}
main {
  position: absolute;
  bottom: 0;
  height: calc(100vh - 75px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  margin-top: 2em;
  display: flex;
  gap: 1rem;
  height: fit-content;
  flex-direction: column;
  align-items: center;
}
section h1 {
  font-size: 2em;
}
section form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
section form > * {
  border-radius: 0.7rem;
}
section form input {
  padding: 0.75em;
}
section form button {
  padding: 1em 0;
  font-weight: 600;
  width: 100%;
  color: white;
  background-color: red;
}
.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-container {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  grid-column: 1; 
  position: relative;
  margin-bottom: 2em;
  width: 100%;
}
.time-slider {
  width: 100%;
  height: 25px;
  margin-top: 1rem;
}

.time-thumb {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  cursor: grab;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  z-index: 2;
}

.time-track {
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background: #ddd;
}

.time-track-1 {
  background: red;
}
.time-container {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
}
.video-prev {
  margin-top: 2em;
  min-width: var(--min-width);
  width: var(--default-width);
  max-width: var(--max-width);
  min-height: var(--min-width);
  height: var(--default-width);
  max-height: var(--max-width);
}
section button {
  /* padding: 1em 10em; */
  width: 20em;
  max-width: 60em;
  font-weight: 600;
  color: white;
  background-color: red;
  border-radius: 1em;
}
section button * {
  color: rgb(255, 255, 255 );
  font-size: 2em;

}